:root{
    --white: #ffffff;
    --dark: #212121;
    --orange: #FFC107;
    --blue: #0097a7;
    --grey: #757575;
}


html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    font-size: 16px;
    font-family: "Krub", serif;
    background-image: linear-gradient(to top, #DFE9F3 0%, var(--white) 20%);
}

h1 {
    font-size: 3.8rem;
}

h2 {
    font-size: 2.8rem;
}

h3 {
    font-size: 1.8rem;
}

h1, h2, h3 {
    text-align: center;
}

.sombra {
    -webkit-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    -moz-box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    box-shadow: 0px 5px 15px 0px rgba(112,112,112,0.54);
    background-color: var(--white);
    padding: 2rem;
    border-radius: 1rem;
}


.titulo {
    text-align: center;
    color: var(--orange);
}

.titulo span{
    font-size: 2rem;
}

.contenedor{
    max-width: 120rem;
    margin: 0 auto;
}


.nav-container{
    /*width: 100%;*/    
    background-color: var(--blue);
}

.main-nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}
@media (min-width: 480px){
    .main-nav{
        flex-direction: row;
        justify-content: space-between;
        
    }
}

.main-nav a{
    color: var(--white);
    text-decoration: none;
    font-weight: 700;
    font-size: 2 rem;
    font-weight: bold;
    padding: 1rem;

}

.main-nav a:hover{
    color: var(--dark);
    background-color: var(--orange);
    
}

.hero {
    background-image: url(/img/hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 480px;
    /*padding: 20px;*/
    position: relative;
    margin-bottom: 2rem;
}

.contenido-hero{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .7);
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.contenido-hero h2, 
.contenido-hero p {
    color: var(--white);
}

button {
    background-color: var(--blue);
    color: var(--white);
    padding: 1rem 3rem;
    margin-top: 1rem;
    font-size: 2rem;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 5rem;
    width: 90%;
    text-align: center;
    border: none;
}

.button:hover{
    cursor: pointer;
}

@media (min-width: 768px){
    button {
        width: auto;
    }
}

/*servicios*/
@media(min-width: 768px){
    .servicios{
        display: grid;
        grid-template-columns: repeat(3, 33.3%);
        column-gap: 1rem;
    }
}


.servicio {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.servicio h3 {
    text-align: center;
    color: var(--blue);
}

.servicio p {
    line-height: 2;
    text-align: center;
}

.servicio .icono {
    background-color: var(--orange);
    height: 15rem;
    width: 15rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario {
    background-color: var(--grey);
    width: min(60rem, 100% ); /*utiliza el valor mas pequeño*/
    border-radius: 2rem;
    margin: 0 auto;
    padding: 2rem;

}

.formulario fieldset {
    border: none;
}

.formulario legend {
    text-align: center;
    font-size: 1.8rem;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: 2rem;
    color: var(--blue);
}

@media(min-width: 478px){
    .contenedor-campos {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto auto 20rem;
        column-gap: 1rem;

    }

    .campo:nth-child(3),
    .campo:nth-child(4){
        grid-column: 1 / 3 ;
    }
}

.campo {
    margin-bottom: 1rem;
}

.campo label {
    color: var(--white);
    font-weight: bold;
    display: block;
    margin-bottom: .5rem;
}

.input-text {
    width: 100%;
    border: none;
    padding: 1.5rem;
    border-radius: .5rem;
}

.boton {
    text-align: center;
}

@media(min-width: 480px){
    textarea {
        height: 15rem;
    }
}

.footer {
    text-align: center;
}